{% extends ':Blog_pages:admin_page.html.twig' %}

{% block body %}
    <body background="{{ asset('res/Background.jpg') }}" style="background-attachment: fixed ">
    <h1 align="center" style="font-family:'Indie Flower', cursive; font-size: 300%">Administration Page</h1>
    <div style="width: 45%; background-color:rgba(132, 112, 255, 0.6); padding: 12px; border-radius: 20px; font-family:'Indie Flower'; font-size: 200%;
     position: absolute; top: 17%">
        <form action="{{ path('admin_page') }}" method="post" {{ form_enctype(form_create_post) }} >
            {{ form_errors(form_create_post) }}
            <p>  </p>
            {{ form_row(form_create_post.postName) }}
            <p>  </p>
            {{ form_row(form_create_post.postText) }}
            <p>Select image for post!</p>
            {{ form_row(form_create_post.file) }}
            {{ form_row(form_create_post.save) }}
            {{ form_rest(form_create_post) }}
        </form>
    </div>
    <a href="{{ path('start_page') }}"><img src="{{ asset('res/Main_page.png') }}" border="0"; alt="Go main page!"; width="100" height="100" style="position: absolute;
    left: 1%; top: 5%"></a>
    <div style="width: 45%; background-color:rgba(132, 112, 255, 0.6); padding: 12px; border-radius: 20px; position: absolute; left: 52%; top: 17% ">
        {% for comments in all_comment %}
            <h2 align="center">{{ comments.authorComment|default(' ') }}</h2>
            <p>{{ comments.textComment|default(' ')|nl2br }}</p>
            <p>{{ comments.dateComment|date('Y-m-d')|default(' ') }}</p>
            <p>  </p>
            <p><a href="{{ path('delete_commentary', {'comment': comments.id }) }}" class="button_del">DELETE</a></p>
            <hr>
        {% endfor %}
    </div>
    <a href="{{ path('logout') }}"><img src="{{ asset('res/Exit.gif') }}" border="0"; alt="Exit"; width="130"; height="70" style="position: absolute; left: 90%; top: 5%"></a>

    </body>
{% endblock %}
