{% extends ':Blog_pages:admin_page.html.twig' %}

{% block body %}
    <body background="{{ asset('res/Background.jpg') }}" style="background-attachment: fixed ">
    <<h1 align="center" style="font-family:'Indie Flower', cursive; font-size: 300%">Administration Page</h1>
    <div style="width: 45%; background-color:rgba(132, 112, 255, 0.6); padding: 12px; border-radius: 20px; font-family:'Indie Flower'; font-size: 200%">
        <form action="{{ path('admin_page') }}" method="post" {{ form_enctype(form_create_post) }} >
            {{ form_errors(form_create_post) }}
            <p>  </p>
            {{ form_row(form_create_post.postName) }}
            <p>  </p>
            {{ form_row(form_create_post.postText) }}
            <p>  </p>
            {{ form_row(form_create_post.save) }}
            {{ form_rest(form_create_post) }}
        </form>
    </div>

    </body>
{% endblock %}
