{% extends ':Blog_pages:read_post.html.twig' %}

{% block body %}
<body background="{{ asset('res/Background.jpg') }}" style="background-attachment: fixed ">
<a style="text-decoration: none; color: black" href="{{ path('start_page') }}"><h1 align="center" style="font-family:'Indie Flower', cursive; font-size: 300% ">Welcome everybody!</h1></a>
<div style="width: 50%; background-color:rgba(132, 112, 255, 0.6); padding: 12px; border-radius: 20px; font-family:'Indie Flower';
     position: absolute; left: 25%;">
         <h1 align="center">{{ read_post.postName|default(' ')|nl2br }}</h1>
         {% if read_post.absolutePath != 'load/image/NULL' %}
         <img width="550" height="380" src="{{ asset(read_post.absolutePath) }}" style="position: relative; left: 15%; border: 5px double; border-color: #565656; padding: 5px">
         {% endif %}
         <p>{{ read_post.postText|default('  ')|nl2br }}</p>
         <p>  </p>
         <p><i>{{ read_post.postDate|date('Y-m-d')|default('')}}</i></p>
         <hr>
    {% for all_comments in comments %}
        <h2>{{ all_comments.authorComment|default(' ')|nl2br }}</h2>
        <p>  </p>
        {{ all_comments.textComment|default(' ')|nl2br }}
        <p>  </p>
        {{ all_comments.dateComment|date('Y-m-d')|default('  ')}}
    {% endfor %}
    <hr>
    <div id="form_comment">
    <form action="{{ path('read_post', {'post': read_post.id }) }}" method="post" {{ form_enctype(form_for_comment) }}>
        {{ form_errors(form_for_comment) }}
        <p>  </p>
        <h4 align="center">{{ username }}</h4>
        {{ form_row(form_for_comment.textComment) }}
        <p>  </p>
        {{ form_rest(form_for_comment) }}
        <p>  </p>
        <input type="submit" value="Comment!">
        <p>  </p>
    </form>
        </div>
    <p>  </p>
    <p align="center"><a class="button7" id="comment_button">Комментировать</a></p>
        </div>
<a href="{{ path('admin_page') }}"><img src="{{ asset('res/Admin_1.jpg') }}" border="0" alt="Go admin" width="200" height="130" style="position: absolute;
    left: 85%"></a>
<img src="{{ asset('res/Up.png') }}" border="0" alt="Up!" width="100" height="150" align="left" id="upper_1" style="position: fixed; bottom: 1%">
</body>
{% endblock %}
{% block exit %}
     </div>
    <a href="{{ path('logout') }}"><img src="{{ asset('res/Exit.gif') }}" border="0"; alt="Exit"; width="130"; height="70" style="position: absolute; left: 90%; top: 5%"></a>
    </body>
{% endblock %}


